<ion-tabs>
  <ion-tab [root]="homeRoot" tabTitle="Home" tabIcon="home"></ion-tab>
  <ion-tab (ionSelect) = "shareApp()" tabTitle="Share" tabIcon="share"></ion-tab>
  <ion-tab (ionSelect) = "logout()" tabTitle="Logout" tabIcon="power"></ion-tab>
</ion-tabs>
