page-notif {
    #notifications-badge {
       
        // position: absolute;
        // top: -3px;
        // right: -3px;
        border-radius: 50%;
        position:relative;
        bottom:15px;
    }
    
    .hidden {
        display: none
    }

    .image-overflow {
        max-height:300px;
        overflow-y:hidden;
    }

    .image-full {
        height: 100%;
        width: 100%
    }

    .sender {
        background: #B4CDF3
    }

    .notification-body {
        padding-bottom:0;
        background:#FDC05D
    }
    
    .swiper-container-horizontal > .swiper-pagination-bullets {
        top: 280px !important;
    }

    .swiper-pagination-bullet {
        border: 1px #ffffff solid;
    }
    
    .attachment-segment {
        background: #FDC05D
    }

    .attachment-segment-inner {
        background:#FFD895;
    }

    .chip {
        margin:3px
    }

    .footer-row {
        background: #d8dfea;
        border-top: 1px solid #d4d4d4;
    }

    .footer-btn {
        border-right:1px solid #d4d4d4
    }

    .swiper-pagination-bullet {
        border: 1px solid white
    }
}
