<ion-header>
  <ion-navbar color="primary">
    <ion-title *ngIf="!isOn">{{global.appName}}</ion-title>
      <!-- <ion-searchbar *ngIf="isOn"></ion-searchbar> -->
      <ion-buttons end>
        <!-- <button (click)="toggleDetails()" ion-button icon-only>
          <ion-icon name="search"></ion-icon>
        </button> -->
        <button ion-button icon-only (click)="presentPopover($event)">
          <ion-icon name="more"></ion-icon>
        </button>
      </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="cards-bg" style="background:#e8e8e8">
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText=""
      refreshingSpinner="crescent"
      refreshingText="">
    </ion-refresher-content>
  </ion-refresher>
  <!-- <ion-fab right bottom>
    <button (click)="request()" ion-fab color="primary" style="margin-right:10px"><ion-icon name="chatboxes"></ion-icon></button>
  </ion-fab> -->
  <ion-card (click)="gotonotif(notif.id)" *ngFor="let notif of notifs; let i = index">
    
      <ion-item>
        <ion-avatar item-start>
          <img src="assets/sample-icon.png">
        </ion-avatar>
        <h2>{{notif.sender | truncate:[20]}}</h2>
        <p>{{notif.time}}</p>
        <ion-note item-end><ion-icon name="copy" [color]="notif.student_receivers + notif.faculty_receivers > 0 ? 'dark' : null"></ion-icon>&nbsp;|&nbsp;<ion-icon name="attach" ></ion-icon>&nbsp;|&nbsp;<ion-icon name="link" [color]="notif.links > 0 ? 'dark' : null"></ion-icon></ion-note>
      </ion-item>
    
      <img src="assets/sample-image.jpg">
    
      <ion-card-content>
        <h2>{{notif.title | truncate:[20]}}</h2>
        <p>{{notif.body | truncate:[150]}}</p>
      </ion-card-content>
    
      <!-- <ion-row>
        <ion-col col-9>
          <button ion-button icon-left clear small color="dark">
            <ion-icon name="thumbs-up"></ion-icon>
            <div>12 Likes</div>
          </button>
        </ion-col>
        <ion-col>
          <button ion-button icon-left clear small>
            <ion-icon name="text"></ion-icon>
            <div>4 Comments</div>
          </button>
        </ion-col>
        <ion-col col-3 padding>
          <ion-note item-end float-right><ion-icon name="copy" color="dark"></ion-icon>&nbsp;|&nbsp;<ion-icon name="attach"></ion-icon>&nbsp;|&nbsp;<ion-icon name="link"></ion-icon></ion-note>
        </ion-col>
      </ion-row> -->
    </ion-card>
</ion-content>
